@import url('./poppins.css');

* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(180deg, #FF9B63 0%, #db632c 100%);
  font-family: "Poppins", sans-serif;
  width: 100%;
  overflow: hidden;
}

.tela__inicial {
  height: 99.8vh;
  color: #fff;
  transition: 0.5s;
}

.tela__inicial__conteudo {
  text-align: center;
}

.logoempresa {
  position: absolute;
  bottom: 5%;
  width: 99.6%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.logoempresa img {
  width: 48px;
}

/* ids */
.step01 {
  background-color: #fff;
  height: 72%;
}

.step01__content {
  height: 350px;
  text-align: center;
  padding: 0 16px;
}

.flexCustom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.gap-4 {
  gap: 16px;
}

.btn-login {
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 10px;
  padding: 20px 10px;
  width: 350px;
  display: block;
  margin-top: 24px;
}

.btn-register {
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 10px;
  padding: 20px 10px;
  width: 350px;
  display: block;
}

.btn-login:hover,
.btn-register:hover {
  background-color: #FF800B;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: #D0D0D0;
  border-radius: 50%;
  cursor: pointer;
}

.active {
  background-color: #FF800B !important;
}